body {
    /* width: 180px; */
    margin: 0;
    font-family: "LXGW WenKai TC", serif;
    font-size: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#pause-btn {
    margin-right: 5px; /* 設定圖片右側的外邊距，調整空白 */
}

.text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.marquee-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 20px;
    white-space: nowrap;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    font-weight: bolder; /* 粗體字 */
    text-decoration: underline; /* 底線 */
}

@keyframes marquee-scroll {
    from {
        transform: translateX(90%);
    }
    to {
        transform: translateX(-100%);
    }
}

